
<div class="btn-group" role="group" data-lat="{{lat}}" data-lon="{{lon}}" aria-label="...">
  <button id="today" type="button" class="btn btn-default" data-days="1">Current</button>
  <button id="three-day" type="button" class="btn btn-default" data-days="3">3 Day</button>
  <button id="seven-day" type="button" class="btn btn-default" data-days="7">7 Day</button>
</div>